.stats_page {
  width: 100%;
}

.stats_wrapper {
  width: 85%;
  margin: 0 auto;
  padding-top: 120px;
  display: flex;
  justify-content: space-around;
}

.left_stats_list_items .stats_list_item {
  width: 400px;
  margin-bottom: 30px;
  cursor: pointer;
}
.chart-wrap {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.right_chart_actions {
  margin-bottom: 50px;
}
.apexcharts-legend-text {
  color: #fff !important;
  padding-left: 20px !important;
}

.apexcharts-legend {
  display: none !important;
}
#chart {
  display: flex;
  align-items: center;
}

.item_self {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.item_self div {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}
.apexcharts-slices .apexcharts-series:nth-child(2) * {
  fill: red !important;
}
.apexcharts-slices .apexcharts-series:nth-child(5) * {
  fill: green !important;
}
.apexcharts-slices .apexcharts-series:nth-child(6) * {
  fill: rgb(119, 93, 208) !important;
}
.chart_legends .item_self:first-child div {
  background: red;
}
.chart_legends .item_self:nth-child(2) div {
  background: rgb(254, 176, 25);
}
.chart_legends .item_self:nth-child(3) div {
  background: rgb(255, 69, 96);
}

.chart_legends .item_self:nth-child(4) div {
  background: green;
}
.chart_legends .item_self:nth-child(5) div {
  background: rgb(119, 93, 208) ;
}
.chart_legends .item_self:nth-child(7) div {
  background: rgb(0, 143, 251);
}
.chart_legends .item_self:nth-child(6) div {
  background: rgb(0, 227, 150);
}

.right_chart_actions {
  margin-left: 100px;
}

.right_chart_actions button {
  margin: 0 10px;
  cursor: pointer;
  padding: 3px 8px;
  background: rgb(0, 143, 251);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
}
