.users_page {
  width: 100%;
  height: auto;
}

.users_col {
  position: relative;
  width: 450px;
 
  margin-left: 150px;
}
.users_list {
  width: 1200px;
  margin: 0 auto;
}
.users_page_sidebar .sidebar_wrapper {
  margin-top: 225px;
}

.users_list_item {
  width: 800px;
  height: 300px;
  position: absolute;
  cursor: pointer;
  transition: all 0.4s ease;
}
.users_list_item:hover {
  margin-top: -50px;
  transition: all 0.4s ease;
}
.users_list_item
.cyber_block {
  height: 300px;
}
.users_list_item .big_wrapper {
  background: #0f1020;
  height: 300px;
  border-bottom-left-radius: 21px;
  border-top-right-radius: 21px;
}
.users_col .users_list_item:nth-child(2) {
  z-index: 111;
  top: 20px;
  left: 20px;
}
.users_col .users_list_item:nth-child(3) {
  z-index: 121;
  top: 40px;
  left: 40px;
}
.users_col .users_list_item:nth-child(4) {
  z-index: 131;
  top: 60px;
  left: 60px;
}
.users_col .users_list_item:nth-child(5) {
  z-index: 131;
  top: 80px;
  left: 80px;
}
.users_col .users_list_item:nth-child(6) {
  z-index: 131;
  top: 100px;
  left: 100px;
}
.users_col .users_list_item:nth-child(7) {
  z-index: 131;
  top: 120px;
  left: 120px;
}
.users_col .users_list_item:nth-child(8) {
  z-index: 131;
  top: 140px;
  left: 140px;
}
.users_col .users_list_item:nth-child(9) {
  z-index: 131;
  top: 160px;
  left: 160px;
}
.users_col .users_list_item:nth-child(10) {
  z-index: 131;
  top: 180px;
  left: 180px;
}

.add_user_from {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.form_users {
  width: 550px;
  z-index: 999;

  padding: 30px;
  border-radius: 20px;
}
.form_users .big_wrapper {
  margin-bottom: 30px;
}
.form_users .cyber_block {
  background: #0f1020;
}

.employer_card {
  display: flex;
}
.employer_card .employer_left_img {
  width: 100px;
  height: 158px;

  margin-right: 15px;
}
.employer_card .employer_left_img img {
  width: 100px;
  height: 158px;
  object-fit: cover;
}

.right_employer_desc div {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
}
.right_employer_desc div p:first-child {
  margin-right: 8px;
}

.save_employer .btn {
  margin: 0;
}

input[type="file"]::file-selector-button {
  background: #0f1020;
  color: #b3b5d2;
  cursor: pointer;
  border: 1px solid #b3b5d2;
  border-radius: 5px;
  padding: 4px 7px;
}

.file_ipload_input {
  display: flex;
  justify-content: space-between;
}
.right_employer_input input {
  width: 200px;
  margin-bottom: 30px;
  height: auto;
  padding: 0;
  background: transparent !important;
}
.file_ipload_input .big_wrapper,
.file_ipload_input .wrapper,
.file_ipload_input .cyber_block {
  width: 160px;
  min-height: 150px;
}

.file_ipload_input .big_wrapper img {
  width: 100%;
}

.right_employer_input input {
  visibility: hidden;
}

.user_actions {
  right: 0;
  top: -16px;
}

.search_input,
.search_input .cyber_block,
.search_input .wrapper {
  width: 600px;
  height: 40px;
}
.users_page .add_ser_btn {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.search_input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: #b3b5d2;
}
