* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Goldman;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Goldman;
  background-color: black;
  max-height: 760px;
}

a {
  text-decoration: none;
}
